@page "/";
@layout LoginLayout

<div class="container vh-100 d-flex align-items-center justify-content-center">
	<div class="container-fluid">
		
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<img src="/draw2.webp" alt="Sample Image" class="img-fluid" />
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<div class="d-flex align-items-center mb-3 pb-1">
					<span class="h1 fw-bold mb-0">Authenticate</span>
				</div>

				<!--Email Input-->
				<div class="form-outline mb-2" data-mb-input-init>
					<input type="email" id="EmailAddress" class="form-control form-control-lg" placeholder="Enter Valid Email Address" />
				</div>

				<!--Password Input-->
				<div class="form-outline mb-2" data-mb-input-init>
					<input type="password" id="Password" class="form-control form-control-lg" placeholder="Enter Password" />
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div class="form-check mb-0">
						<input class="form-check-input me-2" type="checkbox" value="" id="RememberMe" />
						<label class="form-check-label" for="RememberMe">Remember me</label>
					</div>
					<a href="#!" class="text-body">Forgot Password?</a>
				</div>

				<div class="text-center text-lg-center mt-4 pt-2">
					<button type="button" data-mb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
				</div>
			</div>
		</div>
		
	</div>
</div>