@page "/CashierDashboard";

<PageTitle>Home</PageTitle>

<h1>Dashboard</h1>

<div class="row">
	<div class="col-md-3">
		<div class="card text-white bg-primary mb-3">
			<div class="card-body">
				<h5 class="card-title">Administrators</h5>
				<p class="card-text fs-2">00</p>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card text-white bg-primary mb-3">
			<div class="card-body">
				<h5 class="card-title">Households</h5>
				<p class="card-text fs-2">00</p>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card text-white bg-primary mb-3">
			<div class="card-body">
				<h5 class="card-title">Residents</h5>
				<p class="card-text fs-2">00</p>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card text-white bg-primary mb-3">
			<div class="card-body">
				<h5 class="card-title">Total Users</h5>
				<p class="card-text fs-2">00</p>
			</div>
		</div>
	</div>
</div>